.dashboard_main {
  position: relative;
  width: 1446px;
  height: 1698px;
  background: #f8f8f8;
}

.sidebar {
  position: absolute;
  width: 77px;
  height: 1726px;
  left: 0px;
  top: 0px;
  background: #203765;
}

.imgs {
  position: absolute;
  width: 77px;
  height: 46px;
  left: 0px;
  top: 214px;
  background: rgba(255, 255, 255, 0.1);
}

.img1 {
  position: absolute;
  left: 30.87%;
  right: 96.61%;
  top: 25.31%;
  bottom: 85.39%;
  background: #ffffff;
}

.img2 {
  position: absolute;
  width: 46px;
  height: 0px;
  margin-left: 30px;
  margin-top: -38px;
}

.img3 {
  position: absolute;
  width: 24px;
  height: 20.67px;
  left: 24px;
  top: 70px;
}

.img4 {
    position: absolute;
    left: 34.87%;
    right: 96.61%;
    top: 270.61%;
    bottom: 78.98%;
  }

  .img5 {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 26px;
    top: 180px;
  }

  .img6 {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 26px;
    top: 235px;
  }

  .img7 {
    position: absolute;
    left: 33.87%;
    right: 96.5%;
    top: 630.56%;
    bottom: 69.01%;  
    background: #8394B8;
  }

  .img8 {
    position: absolute;
    left: 24.38%;
    right: 96.13%;
    top: 1800.23%;
    bottom: 50.65%;  
    background: #E4E5E7;
    border-radius: 100px;
  }